.main-page {
    display: flex;
    justify-content: space-between;
}

.right img {
    border: 12px solid #EFE0F6; 
    width: 30vw;
    margin-right: 17vw;
}

.left img{
    width: 30vw;
    margin-left: 15vw;
    margin-top: 15vh;
}

.description {
    font-size: 3vh;
    margin-left: 16vw;
    margin-top: -.1vh;
    font-weight: 50;
}

@media only screen and (max-width: 900px) {
    .main-page {
        display: grid;
        justify-content: space-between;
    }
    
    .right img {
        border: 12px solid #EFE0F6; 
        width: 80vw;
        margin-right: 15vw;
        margin-left: 6vw;
    }
    
    .left img{
        width: 60vw;
        margin-top: -5vh;
        margin-left: 20vw;
        margin-right: 10vw;
    }

    .description {
        font-size: 2vh;
        margin-top: -.3vh;
        font-weight: 50;
        margin-left: 8vw;
    }
}